* {
    /* border: 2px solid red; */
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #ddd;
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

img{
    height: 400px;
}